<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                   <a> &copy; @Config.CompanyName</a>
                   <br />
                   <a> &copy; Телефон: @Config.CompanyPhone, Електронная почта поддержки: @Config.CompanyEmail</a>
                </div>
            </div>
        </div>
    </div>
</div>